.Rhistory
.RData
.Ruserdata
.Rprofile
*.sh
*.RData
*.csv
*.html
!ate_small_analysis_example.html
*.pdf
*.pptx
*job*
2019*.R
Figures/
*_files
*_cache
Scripts/
MissDeepCausal/
*_TranexamicAcid.Rmd
*_TranexamicAcid_TBI.Rmd
*-copy.*
.DS_Store
